<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.forest.mall.mapper.CamiloRecordMapper">

    <select id="recordlist" resultType="cn.forest.mall.entity.CamiloRecord">
        SELECT
            cr.*,
            p.NAME AS productName,
            p.code AS productCode,
            cc.NAME AS catalogName,
            ss.name AS supplierName
        FROM
            camilo_record cr
            LEFT JOIN products p ON p.id = cr.product_id
            LEFT JOIN catalogs cc ON cc.id = p.catalog_id
            LEFT JOIN suppliers ss ON ss.id = p.supplier_id
        WHERE
            cr.is_delete = 0
            <if test="productName != null and productName != ''">
                AND p.name LIKE CONCAT('%',#{productName},'%')
            </if>
            <if test="productCode != null and productCode != ''">
                AND p.code LIKE CONCAT('%',#{productCode},'%')
            </if>
            <if test="catalogName != null and catalogName != ''">
                AND cc.name LIKE CONCAT('%',#{catalogName},'%')
            </if>
            <if test="supplierName != null and supplierName != ''">
                AND ss.name LIKE CONCAT('%',#{supplierName},'%')
            </if>
            <if test="supplierId != null and supplierId != ''">
                AND ss.id = #{supplierId}
            </if>
            <if test="productId != null and productId != ''">
                AND p.id = #{productId}
            </if>
            <if test="startTime != null and startTime != ''">
                AND cr.created_at &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND cr.created_at &lt;= #{endTime}
            </if>
            <if test="userName != null and userName != ''">
                AND cr.user_name LIKE CONCAT('%',#{userName},'%')
            </if>
        ORDER BY created_at DESC
    </select>
</mapper>