<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.forest.mall.mapper.ProductsMapper">

    <update id="batchAudit">
        update
            products
        set
            audit_status = #{auditStatus}
        where
            id in
            <foreach collection="idList" separator="," item="id" open="(" close=")">
                #{id}
            </foreach>
    </update>

    <select id="selectListByMap" resultType="cn.forest.mall.entity.Products">
        SELECT
            p.*,
            cc.name AS catalogName,
            s.name AS supplierName,
            d.name AS deliveryName
        FROM
            products p
            LEFT JOIN catalogs cc ON p.catalog_id = cc.id
            LEFT JOIN suppliers s ON s.id = p.supplier_id
        LEFT JOIN sys_dictionary_data d ON d.id = p.delivery_type
        WHERE
            p.is_delete = 0
            AND s.is_delete = 0
            AND cc.is_delete = 0
            <if test="name != null and name != ''">
                AND p.name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="catalogName != null and catalogName != ''">
                AND cc.name LIKE CONCAT('%',#{catalogName},'%')
            </if>
            <if test="supplierName != null and supplierName != ''">
                AND s.name LIKE CONCAT('%',#{supplierName},'%')
            </if>
            <if test="supplierId != null">
                AND p.supplier_id = #{supplierId}
            </if>
            <if test="auditStatus != null and auditStatus != ''">
                AND p.audit_status = #{auditStatus}
            </if>
            <if test="status != null">
                AND p.status = #{status}
            </if>
            <if test="deliveryCode != null and deliveryCode != ''">
                AND d.code = #{deliveryCode}
            </if>
            order by p.audit_status, p.id
    </select>


    <select id="selectByCode" resultType="cn.forest.mall.entity.Products">
        SELECT
            p.id,
            p.name
        FROM
            products p
            LEFT JOIN catalogs cc ON cc.id = p.catalog_id
        WHERE
            p.is_delete = 0
            AND p.code = #{productCode}
            AND cc.code = #{catalogCode}
        ORDER BY
            p.id DESC
            LIMIT 1
    </select>
</mapper>