<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.forest.mall.mapper.SupplierBalanceRecordMapper">

    <select id="recordlist" resultType="cn.forest.mall.entity.SupplierBalanceRecord">
        SELECT
            sbr.*,
            ss.name AS supplierName
        FROM
            supplier_balance_record sbr
        LEFT JOIN suppliers ss ON ss.id = sbr.supplier_id
        WHERE
            sbr.is_delete = 0
            <if test="supplierName != null and supplierName != ''">
                AND ss.name LIKE CONCAT('%',#{supplierName},'%')
            </if>
            <if test="userName != null and userName != ''">
                AND sbr.user_name LIKE CONCAT('%',#{userName},'%')
            </if>
            <if test="supplierId != null and supplierId!=''">
                AND ss.id = #{supplierId}
            </if>
            <if test="startTime != null and startTime != ''">
                AND sbr.created_at &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND sbr.created_at &lt;= #{endTime}
            </if>
            <if test="operationType != null and operationType != ''">
                AND sbr.operation_type = #{operationType}
            </if>
        ORDER BY created_at DESC
    </select>

    <select id="balanceList" parameterType="Map" resultType="cn.forest.mall.entity.SupplierBalanceRecord">
        SELECT
	            supplier_id, sum(money) AS money
	        FROM
	            supplier_balance_record
	        WHERE
	            is_delete = 0 and supplier_id=#{supplierId}
            
    </select>
</mapper>