server:
  port: 8210
 
spring:
  application:
    name: forest-file-web
eureka:
  instance:
    prefer-ip-address: true
    instance-id: localhost:${server.port}
    lease-renewal-interval-in-seconds: 10
    health-check-url-path: /actuator/health
  client:
    service-url:
      defaultZone: http://localhost:5555/eureka/

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: '*'

file-site-path: http://47.92.213.39/attach
upload-base-path: /data/java_upload_file
file-upload-path: /upload/file/
image-upload-path: /upload/image/
