<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.forest.lyj.mapper.PlanMapper">

  
  <select id="getPlanList" parameterType="Map" resultType="cn.forest.lyj.entity.Plan">
  
     SELECT
		o.`name` as orgName,
		j.project_name as projectName,
		p.plan_total as planTotal,
		p.`year`,
		p.`month`,
		p.plan_using as planUsing,
		p.id,
		p.status
	FROM
		plan p
		INNER JOIN organization o ON o.id = p.org_id
		INNER JOIN projects j ON j.id = p.project_id
	where p.is_delete=0 
	  <if test="userId!=null">
	    and p.user_id=#{userId} 
	  </if>
	   <if test="orgIds!=null">
	    and  p.org_id in <foreach collection="orgIds" item="item" index="index" open="(" separator="," close=")">#{item}</foreach>
	  </if>
	  <if test="projectName!=null and projectName!=''">
	    and j.project_name like CONCAT('%',#{projectName},'%')
	  </if>
	  <if test="orgName!=null and orgName!=''">
	    and o.`name` like CONCAT('%',#{orgName},'%') 
	  </if>
	order by p.id desc
  </select>
  
  <select id="getPlanById" parameterType="Long" resultType="cn.forest.lyj.entity.Plan">
      SELECT
		o.`name` as orgName,
		p.org_id as orgId,
		p.project_id as projectId,
		j.project_name as projectName,
		p.plan_total as planTotal,
		p.`year`,
		p.`month`,
		p.plan_using as planUsing,
		p.id,
		p.create_time as createTime,
		p.update_time as updateTime,
		p.status,
		p.user_id as userId
	FROM
		plan p
		INNER JOIN organization o ON o.id = p.org_id
		INNER JOIN projects j ON j.id = p.project_id
	where p.is_delete=0 and p.id=#{id}
  </select>
  
</mapper>