<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.forest.lyj.mapper.ProjectsMapper">

  <select id="getProjectsList" parameterType="Map" resultType="cn.forest.lyj.entity.Projects">
      SELECT
		p.id,
		p.org_id as orgId,
		p.project_name as projectName,
		p.budget,
		p.leader_phone as leaderPhone,
		p.project_leader as projectLeader,
		p.create_time as createTime,
		o.`name` as orgName,
		p.project_level as projectLevel,
		p.year as year,
		p.status as status,
		p.project_source as projectSource,
		p.parent_id as parentId
	FROM
		projects p
		INNER JOIN organization o ON o.id = p.org_id
	where 
	  p.is_delete=0 
	  and p.project_level=1
	  and p.parent_id=0
	  <if test="userId!=null">
	    and p.user_id=#{userId} 
	  </if>
	  <if test="orgIds!=null">
	    and  p.org_id in <foreach collection="orgIds" item="item" index="index" open="(" separator="," close=")">#{item}</foreach>
	  </if>
	  <if test="projectName!=null and projectName!=''">
	    and p.project_name like CONCAT('%',#{projectName},'%')
	  </if>
	  <if test="orgName!=null and orgName!=''">
	    and o.`name` like CONCAT('%',#{orgName},'%') 
	  </if>
	  <if test="leader!=null and leader!=''">
	    and p.project_leader like CONCAT('%',#{leader},'%') 
	  </if>
	order by p.id desc
  
  </select>
  <select id="getProjectsById" parameterType="Long" resultType="cn.forest.lyj.entity.Projects">
  
     SELECT
		p.id,
		p.org_id as orgId,
		o.name as orgName,
		p.budget,
		p.project_name as projectName,
		p.leader_phone as leaderPhone,
		p.project_leader as projectLeader,
		p.create_time as createTime,
		p.update_time as updateTime,
	    p.user_id as userId,
	    p.project_level as projectLevel,
		p.year as year,
		p.status as status,
		p.project_source as projectSource,
		p.parent_id as parentId
	FROM
		projects p inner join organization o 
	on o.id=p.org_id
	WHERE
		p.is_delete = 0 and p.id=#{id}
  </select>
  
  <select id="getProjectsByParentId" parameterType="Long" resultType="cn.forest.lyj.entity.Projects">
  
     SELECT
		p.id,
		p.org_id as orgId,
		o.name as orgName,
		p.budget,
		p.project_name as projectName,
		p.leader_phone as leaderPhone,
		p.project_leader as projectLeader,
		p.create_time as createTime,
		p.update_time as updateTime,
	    p.user_id as userId,
	    p.project_level as projectLevel,
		p.year as year,
		p.status as status,
		p.project_source as projectSource,
		p.parent_id as parentId
	FROM
		projects p inner join organization o 
	on o.id=p.org_id
	WHERE
		p.is_delete = 0 and p.parent_id=#{id}
  </select>
  
  
  <select id="getProjectsCount" parameterType="Map" resultType="cn.forest.lyj.entity.ProjectVo">
       SELECT
			 count(*) as number,IFNULL(sum(p.budget),0) as total
		FROM
			projects p 
		WHERE
			1 = 1 
			AND p.is_delete = 0 
		    and p.status=1
		    and p.project_level=1
	        and p.parent_id=0
			<if test="orgId!=null">
			  AND p.org_id =#{orgId}
			</if>
			<if test="orgIds!=null">
			    and  p.org_id in <foreach collection="orgIds" item="item" index="index" open="(" separator="," close=")">#{item}</foreach>
			</if>
			<if test="userId!=null">
			  AND p.user_id =#{userId}
			</if>
			<if test="id!=null">
			  AND p.id = #{id}
			</if>
			<if test="year!=null">
			  AND p.year = #{year}
			</if>
			
  </select>
  <select id="getProjects" parameterType="Map" resultType="cn.forest.lyj.entity.Projects">
    <![CDATA[  select t.*,if(IFNULL(t.et/t.pt,0)<=${num},'true','false') as xy ,if((t.pt+t.pt*${num})<=t.et,'true','false') dy  from(
SELECT
			p.id,
			p.org_id as orgId,
			o.name as orgName,
			p.project_name as projectName,
			p.budget,
			p.year,
			IFNULL((select sum(a.plan_total) from plan a where a.project_id = p.id and a.is_delete=0 and a.status=1),0) as pt,
			IFNULL((select sum(e.expenditure_total) from expenditure e where e.project_id = p.id and e.is_delete=0 and e.status=1),0) as et
		FROM
			projects p inner join organization o 
	on o.id=p.org_id
		WHERE
			1 = 1 
			AND p.is_delete = 0 
			and p.status=1
		    and p.project_level=1
	        and p.parent_id=0   ]]>  
	         <if test="orgId!=null">
			  AND p.org_id =#{orgId}
			</if>
			<if test="orgIds!=null">
		       and p.org_id in <foreach collection="orgIds" item="item" index="index" open="(" separator="," close=")">#{item}</foreach>
			</if>
			<if test="userId!=null">
			  AND p.user_id =#{userId}
			</if>
			<if test="year!=null">
			  AND p.year =#{year}
			</if>
			<if test="id!=null">
			  AND p.id = #{id}
			</if>
	        ) t where  1=1  
			<![CDATA[  and (IFNULL(t.et/t.pt,0)<=${num} or (t.pt+t.pt*${num})<=t.et ) ]]>
  </select>
</mapper>